<div class="jumbotron">
  <div class="container">
    <div class="row">
      <!-- Register Form -->
      <div class="col-md-6 offset-md-3" *ngIf="!loginForm">
        <h3>Registration -Angular 17 Reactive Forms with validation </h3>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
          <div class="form-group">
            <label>
              Name
            </label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label>
              Mobile Number
            </label>
            <input type="tel" class="form-control" formControlName="mobNumber">
          </div>
          <div class="form-group">
            <label>
              Enter Your Age
            </label>
            <input type="number" class="form-control" formControlName="age">
          </div>
          <div class="form-group">
            <label>
              Enter Your DOB
            </label>
            <input type="date" class="form-control" formControlName="dob">
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="ashish@gmail.com" formControlName="email">
            </div>
            <div class="form-group col-6">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="password" formControlName="password">
            </div>
            <div class="form-group">
              <label>Address 1</label>
              <input type="text" class="form-control" placeholder="12,4 street" formControlName="addLine1">
            </div>
            <div class="form-group">
              <label>Address 2</label>
              <input type="text" class="form-control" placeholder="appartment, floor" formControlName="addLine2">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label>City</label>
              <input type="text" class="form-control" placeholder="City" formControlName="city">
            </div>
            <div class="form-group col-4">
              <label>State</label>
              <select id="inputState" class="form-control" formControlName="state">
                <option selected>Choose...</option>
                <option selected>Choose...</option>
                <option value="Up 1">Up 1</option>
                <option value="Up 2">Up 2</option>
                <option value="Up 3">Up 3</option>
                <option value="Up 4">Up 4</option>
                <option value="Up 5">Up 5</option>
                <option value="Up 6">Up 6</option>
                <option value="Up 7">Up 7</option>
              </select>
            </div>
            <div class="form-group col-2">
              <label>Zip Code</label>
              <input type="number" class="form-control" formControlName="zipCode" placeholder="Zip Code">
            </div>
          </div>
          <div class="form-group">
            <label>Language</label>
            <select formControlName="language" class="form-control">
              <option value="1 ">English</option>
              <option value="2">Myanmar</option>
              <option value="3">Other</option>
            </select>
          </div>
          <div class="form-group row">
            <label>Gender</label>
            <div class="form-check corm-check-inline col-3">
              <input type="radio" formControlName="gender" class="form-check-inline" value="Male">
              <label class="form-check-inline">Male</label>
            </div>
            <div class="form-check corm-check-inline col-3">
              <input type="radio" formControlName="gender" class="form-check-inline" value="Female">
              <label class="form-check-inline">Female</label>
            </div>
            <div class="form-check corm-check-inline col-3">
              <input type="radio" formControlName="gender" class="form-check-inline" value="others">
              <label class="form-check-inline">Others</label>
            </div>

          </div>
          <div class="form-group">
            <label>Somthing About you</label>
            <textarea name="" class="form-control" id="" rows="3" formControlName="aboutYou"></textarea>
          </div>
          <div class="form-group">
            <label>Upload Your Photo</label>
            <input type="url" class="form-control" formControlName="uploadPhoto">
          </div>
          <div class="form-group">
            <input type="checkbox" class="form-check-inline" formControlName="agreetc">
            <label class="form-check-inline">Terns and condition</label>
          </div>
          <div class="form-group">
            <label>What Do You Want ?</label>
            <select class="form-control" formControlName="role">
              <option value="seller">Seller</option>
              <option value="buyer">Buyer</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary my-3">
              Register
            </button>
          </div>
        </form>
        <p class="sim-pointer" routerLink="/sign-in">Alreadhy have an account Click here to login!</p>
      </div>

      <!-- Login Form -->
      <div class="col-md-6 offset-md-3" *ngIf="loginForm">
        <h3>Login - Angular 17 Template drivenb form with validation.</h3>
        <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()" novalidate>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="signInFormValue.email" #email="ngModel" name="email"
              required email>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="signInFormValue.password"
              #password="ngModel" minlength="6" togglePassword>
          </div>
          <div class="form-group">
            <button class="btn btn-primary my-3">Log In</button>
          </div>
        </form>
        <p class="sim-pointer" routerLink="/sing-up">Don't have an account Click here to Register!</p>
      </div>
    </div>
  </div>
</div>