/* styles.css or your component-specific styles */
.app-container {
    position: relative;
    height: 100vh; /* Set height to fill the viewport */
  }
  
  .app-container .content {
    overflow-y: auto; /* Enable vertical scrolling for content */
    height: calc(100vh - 100px); /* Adjust height to accommodate fixed header and footer */
    padding: 20px; /* Add padding to content */
  }

  .content{
    margin-top:40px;
  }
  
  app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px; /* Adjust height of header as needed */
    background-color: #333; /* Example background color */
    color: #fff; /* Example text color */
  }
  
  app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Adjust height of footer as needed */
    background-color: #333; /* Example background color */
    color: #fff; /* Example text color */
  }
  