.product{
    margin:1rem;

}
.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-desc{
    height:9rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
img{
    height:15rem;
    padding:1rem;

}
.card{
 background-color: rgb(216, 212, 207);
}