<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h3>Admin Login Pannel</h3>
            <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid &&onSubmitSignIn()" novalidate>
            <div class="form-group mt-2">
                <label >
                    Email :
                </label>
                <input type="email" class="form-control" name="email" [(ngModel)]="signInFormValue.email" #email="ngModel" required>
            </div>
            <div class="form-group mt-2">
                <label >
                    Password :
                </label>
                <input type="password" class="form-control" name="password" [(ngModel)]="signInFormValue.password" #password="ngModel" minlength="6" required tooglePassword>
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-primary my-3">Login</button>
            </div>
            </form>
        </div>
    </div>
</div>
